<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <servlet>
  	<description>JAX-WS endpoint - AttributeDAOService</description>
  	<display-name>AttributeDAOService</display-name>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/DVXTransactionPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/HibernateUtilPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/MovieMenuDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/ZipCodeDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/VersionDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/UserProfileDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/UserDetailDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/UserDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/TransactionLogDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/StatusDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/StateDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/ReviewDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/RatingDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/PosterDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/PathDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/MovieTrailerDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/MovieGenreDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/MovieChapterDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/MovieDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/MovieCastDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/LanguageDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/GeocodeDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/DescriptionDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/CrewCastDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/CountryDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/ContinentDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/CityDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/AuthorDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/AudioTrackInfoDAOPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttributeDAOService</servlet-name>
  	<url-pattern>/AttributeDAOPort</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener></web-app>
